html {
    background-color: #4dc4cc;
  }
  
  .planePath {
    stroke: #D9DADA;
    stroke-width: .1%;
    stroke-width: .5%;
    stroke-dasharray: 1% 2%;
    stroke-linecap: round;
    fill: none;
  }
  
  .fil1 {
    fill: #D9DADA;
  }
  
  .fil2 {
    fill: #C5C6C6;
  }
  
  .fil4 {
    fill: #9D9E9E;
  }
  
  .fil3 {
    fill: #AEAFB0;
  }

  .article{
    width:70%
  }

  .aside{
    width:30%;
  }

  .career-contents{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 50px;
    margin-right: 80px;
  }

  .main-nav{
    display:flex;
    font-size:1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
  }

  .main-nav li{
    margin-left: 34px;
  }

  .main-nav a {
    color:#432;
  }

  .main-nav a:hover{
    color:rgb(170, 16, 241);
  }

@media (max-width:600px){
  .career-contents{
    flex-direction: column;
  }
  .page-title{
    margin-top: 30px;
  }
  article, aside{
    width: 100%;
  }
  aside{
    margin-top: 60px;
  }


}
